* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h3 {
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 8px;
}

.no-support,
.rotate-screen {
  display: block;
  text-align: center;
  img {
    width: 200px;
    display: inline-block;
  }

  .texts {
    margin-top: 20px;

    h3 {
      &:last-child {
        margin-top: 10px;
      }
    }
  }
}

.rotate-screen {
  img {
    width: 140px;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
}

#computer {
  & > * {
    display: none;
  }

  .no-support {
    display: block;
  }
}

#portrait {
  & > * {
    display: none;
  }

  .rotate-screen {
    display: block;
  }
}

#camera {
  & > * {
    display: none;
  }

  .camera-ui {
    display: grid;
    overflow: hidden;
  }
}

#fail {
  & > * {
    display: none;
  }
  .camera-fail {
    display: block;
  }
}

.camera-fail {
  .instruction {
    margin-left: 50px;
    margin-top: 25px;
  }
}

.camera-ui {
  display: grid;
  grid-template-columns: 35px 1fr 35px 0px;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100svh;
  justify-content: center;
  align-items: stretch;

  .slider {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 30px;
    height: 60%;
    align-self: center;
  }

  canvas {
    // width: 100%;
    // height: 100%;
    // aspect-ratio: 16/ 9;
    //   height: auto;
    background: #111;
  }

  .summary {
    padding: 15px 10px;
    height: 100%;
    overflow: auto;

    h3 {
      margin-bottom: 8px;
      font-size: 20px;
      padding: 0px;
    }

    p {
      line-height: 145%;
      letter-spacing: 1px;
    }
  }

  .camera--preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    canvas {
      // display: none;
      aspect-ratio: 2 / 1;
      // width: 100%;
      // height: auto;
    }
  }

  button, a {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    position: fixed;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .btn--back {
    background-color: #ff7eb8;
    left: 5px;
    bottom: 5px;
  }

  .btn--full {
    background: #2d58e0 url('../assets/fullscreen-icon.png') no-repeat center center;
    background-size: 60%;
    left: 5px;
    top: 5px;
    &.btn--mini {
      background-image:  url('../assets/miniscreen-icon.png');
    }
  }

  .btn--slide {
    background: #2d58e0 url('../assets/left-double-arrow.png') no-repeat center center;
    background-size: 60%;
    right: 5px;
    top: 5px;
    &.btn--expand {
      background-image:  url('../assets/right-double-arrow.png');
    }
  }
}


#output {
  display: block;
  position: fixed;
  left: 10%;
  top: 50%;
  color: red;
}


.thank--page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  img {
    width: 100px;
    margin-bottom: 35px;
  }

  a {
    background-color: #2d58e0;
    padding: 10px 25px;
    margin-top: 25px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
}