* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h3 {
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 8px;
}

.no-support,
.rotate-screen {
  display: block;
  text-align: center;
  img {
    width: 200px;
    display: inline-block;
  }

  .texts {
    margin-top: 20px;

    h3 {
      &:last-child {
        margin-top: 10px;
      }
    }
  }
}

.rotate-screen {
  img {
    width: 140px;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
}

#computer {
  & > * {
    display: none;
  }

  .no-support {
    display: block;
  }
}

#portrait {
  & > * {
    display: none;
  }

  .rotate-screen {
    display: block;
  }
}

#camera {
  & > * {
    display: none;
  }

  .camera-ui {
    display: grid;
    overflow: hidden;
  }
}

#fail {
  & > * {
    display: none;
  }
  .camera-fail {
    display: block;
  }
}



.camera-fail {
  .instruction {
    margin-left: 50px;
    margin-top: 25px;
  }
}

.camera-ui {
  display: grid;
  grid-template-columns: 30px 1fr 30px 0px;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100svh;
  justify-content: center;
  align-items: stretch;

  .slider {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 30px;
    height: 60%;
    align-self: center;
  }

  canvas {
    // width: 100%;
    // height: 100%;
    // aspect-ratio: 16/ 9;
    //   height: auto;
    background: #111;
  }

  .summary {
    padding: 15px 10px;
    height: 100%;
    overflow: auto;

    h3 {
      margin-bottom: 8px;
      font-size: 20px;
      padding: 0px;
    }

    p {
      line-height: 145%;
      letter-spacing: 1px;
    }
  }

  .camera--preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    canvas {
      aspect-ratio: 2 / 1;
      // width: 100%;
      // height: auto;
    }
  }

 
}
