* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#output {
  text-align: center;
}

h3 {
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 8px;
}

#no-support,
#rotate-screen {
  display: block;
  text-align: center;
  img {
    width: 200px;
    display: inline-block;
  }

  .texts {
    margin-top: 20px;

    h3 {
      &:last-child {
        margin-top: 10px;
      }
    }
  }
}

#rotate-screen {
  img {
    width: 140px;
  }
}

#computer,
#portrait,
#landscape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
}

#computer {
  #rotate-screen,
  #camera {
    display: none;
  }

  #no-support {
    display: block;
  }
}

#portrait {
  #no-support,
  #camera {
    display: none;
  }

  #rotate-screen {
    display: block;
  }
}

#landscape {
  #no-support,
  #rotate-screen {
    display: none;
  }

  #camera {
    display: block;
  }
}

#camera {
  .start {
    // text-align: center;
  }
}

button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

#camera-btn {
  background-color: #02ffb3;
  position: relative;
  z-index: 5000;
}

#reload-btn {
  background-color: #ca3d05;
  color: #fff;
}

.btn-wrap {
  text-align: center;
  margin-top: 20px;
}

.instruction {
  display: none;
}




#video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  #stream {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    
  }

  .left-cover {
    position: absolute;
    width: 20vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: rgba(9, 237, 9, 0.425);
  }

  .right-cover {
    position: absolute;
    width: 20vw;
    height: 100vh;
    right: 0px;
    top: 0px;
    background-color: rgba(222, 94, 8, 0.511);
  }
}